/* Lesson Video: https://www.youtube.com/watch?v=fSkhTd4rpDo */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 5rem;
  font-family: 'Montserrat', sans-serif;
  
}

.accordion{
  width: 40rem;
  margin: 3.125rem auto;   
}

.accordion-list{
  list-style: none;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  padding: 0.625rem;
}


.accordion-title{
  display: flex;
  align-items: center;
  padding: .75rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
     
}


.accordion-title::before{
  content: '+';
  margin-right: .8rem;
  font-weight: bold;
  font-size: 1.5rem;
}

input[type='radio']{
  display: none;
}

.accordion-paragraph{
  color: white;
  padding: 0 0.625;
  line-height: 1.6rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s, color 1s ease-out;
}

input[type='radio']:checked + .accordion-title + .accordion-paragraph{
  max-height: 25rem;
  padding: .625rem .625rem 1.25rem;
  color: rgb(39, 22, 114);
  
}

input[type=radio]:checked + .accordion-title::before{
  content: '-';
}

input[type=radio]:checked + .accordion-title{
/* .accordion-list:has(input[type=radio]:checked){ */
  animation-duration: 1.5s;
  animation-name: slidein; 
}
@keyframes slidein{
  0%{
      transform: translateX(0px);
      color: black;
  }
  15%{
      transform: translateX(75px);
      color: red;
  }
  100%{
      transform: translateX(0px);
      color: black;
  }
}